body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.category {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 5px 0px 25px 0px;  /* 上の余白を減らす */
}

.audio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.audio-controls {
    display: flex;
    align-items: center;
}

.play-button,
.download-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.audio-title {
    margin: 0;
    font-weight: bold;
}

.download-button {
    background-color: #28a745;
    margin-left: 10px;
}
